* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
    width: 100%; 
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: white;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    background-image: url('./img/2.jpg');
    background-size: cover; 
    background-position: center center;
    background-repeat: no-repeat;
  }
  
  header {
    background-color: rgb(18, 18, 72);
    padding: 10px 20px;
    font-style: italic;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    font-size: 3rem;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav ul {
    display: flex;
    list-style: none;
  }
  
  nav ul li {
    margin: 0 15px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    transition: color 0.3s;
  }
  
  nav ul li a:hover {
    color: lightblue;
  }
  
  .hero {
    text-align: center;
    height: 90vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .section {
    padding: 50px 20px;
    flex-grow: 1; 
  }
  
  .about, .projects, .contact {
    text-align: center;
  }
  
  .about h2, .projects h2, .contact h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .about p {
    width: 60%;
    margin: 20px auto;
  }
  
  .projects-grid {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .project-card {
    background: rgb(18, 18, 72);
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    transition: transform 0.3s;
  }
  
  .project-card:hover {
    transform: scale(1.05);
  }
  
  .project-card img {
    width: 100%;
    border-radius: 10px;
  }
  
  .contact form {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
  }
  
  .contact input, .contact textarea {
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
  }
  
  .contact button {
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .contact button:hover {
    background-color: darkblue;
  }
  

  footer {
    background-color: rgb(18, 18, 72);
    text-align: center;
    padding: 20px;
    margin-top: auto; 
  }
  
  